<div class="reload-screen">
    <p class="link"><a href="{{ destination }}">Sie werden weitergeleitet...</a></p>
</div>

<script type="text/javascript">
    top.location.href = "{{ destination|raw }}";
</script>
